.full-size {
  width: 100%;
}

.padding {
  padding: 16px;
}

.profile-pic {
  border-radius: 50%;
  border: solid white 2px;
}

.text-center {
  text-align: center;
}

.white {
  color: #ffffff;
  fill: #ffffff;
}