body {
  margin-top: calc(64px + 16px);
  @media (max-width: 600px) {
    margin-top: calc(56px + 16px);
  }
}

md-list {
  &.mat-list,
  &.mat-nav-list,
  &.mat-selection-list {
    padding: 0px;
  }
  md-list-item {
    background-color: #FFFFFF;
  }
}

md-toolbar.mat-toolbar {
  position: fixed;
  z-index: 1;
  top: 0;
}

md-card {
  margin-bottom: 16px;
}