

<md-list class="container">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWrap>
    <ng-template ngFor let-game [ngForOf]="games | async">
      <md-list-item fxHide.gt-xs="true" [routerLink]="['/', 'game', game.$key]">
        <img md-list-icon [src]="game.createdBy.photoURL" [alt]="game.createdBy.displayName">
        <p md-line>Created On: {{game.createdOn | date}}</p>
      </md-list-item>
      <md-divider [fxHide.gt-xs]="true"></md-divider>
      <div fxHide.lt-sm="true" fxFlex.gt-xs="50" fxFlex.gt-sm="33" fxFlex.gt-md="25" class="desktop-card">
        <md-card>
          <md-card-header>
            <img md-card-avatar [src]="game.createdBy.photoURL" [alt]="game.createdBy.displayName">
            <md-card-title>{{game.createdBy.displayName}}</md-card-title>
            <md-card-subtitle>Created On: {{game.createdOn | date}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
          </md-card-content>
          <md-card-actions>
            <a md-button [routerLink]="['/', 'game', game.$key]">Join Game</a>
          </md-card-actions>
        </md-card>
      </div>
    </ng-template>
  </div>
</md-list>


<button id="create-game" md-fab (click)="create()" [disabled]="creating"><md-icon>add</md-icon></button>